:root {
    --bg-color: #000000;
    --main-text-color: #f5f5f5;
    --main-brand-color: #35682D;
    --main-bc-light: #537a4d;
    --accesory-color: #FFBA00;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color)
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

h2,
h3 {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin: 0;
    margin-bottom: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    ;
}