.footer {

    padding: 3rem;
    margin-bottom: 3rem;

    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
        list-style: none;
    }
}