.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-brand-color);
    opacity: 0.9;
    margin-bottom: 3rem;
    z-index: 10;
}

.nav .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    a:hover {
        text-decoration: none;
        background: var(--main-bc-light);
    }
}