.bg {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/006/653/981/large/david-jackson-lego-black-brick-1920-720-beauty-pass.jpg?1500237921);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 3rem;

    h2 {
        background-color: var(--main-bc-light);
        color: var(--main-text-color);
        display: block;
        margin-bottom: 3rem;
        padding: 1rem;

    }

    h3 {
        background-color: var(--main-bc-light);
        color: var(--main-text-color);
        display: block;
        margin: 0;
        font-size: medium;
    }

    p {
        background-color: var(--main-text-color);
        color: var(--main-bc-light);
        min-height: 2rem;
        padding: 0.5rem;
        display: none;

    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;

    list-style: none;
    margin: 0;
    padding: 0;


    img {
        width: 100%;
    }
}

figure {
    margin: 0;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.to-home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--main-text-color);

}

@media screen and (width >768px) {
    .box {

        p {
            display: block;
        }
    }
}

@media screen and (width > 1024px) {
    .box {
        max-width: 1024px;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}